@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root { 
    --main-text-color: black;
    --main-font: 'Poppins', sans-serif;
    --light-gray: #AAA;
    --airbnb-pink: #E19DA5;
    font-size: 16px;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    -ms-overflow-style: none; /* IE and Edge scrollbar hide */
    scrollbar-width: none; /* Firefox scrollbar hide */
    font-family: var(--main-font);
}

/* --- GRID --- */

.wrapper { 
    margin: auto;
    max-width: 1380px;
}



/* --- COMPONENT: HOME --- */
.header h1 { 
    font-size: 2.3em;
    font-weight: 400;
    color: var(--light-gray);
    max-width: 18em;
    padding: 250px 50px;
    padding-bottom: 100px;
}

.black { 
    color: black;
}



/* --- COMPONENT: CARD --- */
.card-wrapper { 
    width: calc(100% - 100px);
    margin: 7em auto;
    height: 23em;
    background-color: blue;
    position: relative;
}

.card { 
    position: absolute;
    width: 100%;
    height: 23em;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
}


.clickable-wrapper { 
    position: relative;
}

.hider { 
    position: absolute;
    width: 100%;
    height: 23em;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 2;
}

.blurb { 
    width: 40%;
    position: absolute; 
    bottom: 2em;
    left: 3em;
}

.blurb h2 { 
    font-weight: 500;
    font-size: 3em;
    color: white;
    margin: 0;
}

.blurb p { 
    color: white;
}


.img { 
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0;
}

.airbnb-img { 
    background-color: var(--airbnb-pink);
    background-image: url('../assets/airbnb-card.png');
    background-repeat: no-repeat;
    background-size: 40em;
    background-position: 5vw 0vw;
}

.airbnb-card { 
    background-color: var(--airbnb-pink);
}

.wta-img { 
    background-color: #5793B1;
    background-image: url('../assets/transit-sample.png');
    background-repeat: no-repeat;
    background-size: 50em;
    background-position: -3vw -1vw;
}

.wta-card { 
    background-color: #5793B1;
}

.mental-img, .mental-card { 
    background-color: #848E83;
}

.mental-img { 
    background-image: url('../assets/mental-reminder-sample.png');
    background-repeat: no-repeat;
    background-size: 50em;
}

.move-in-img, .move-in-card { 
    background-color: #003F87;
}

.move-in-img { 
    background-image: url('../assets/move-in-sample.png');
    background-repeat: no-repeat;
    background-size: 40em;
}

[data-aos="reveal"] { 
    width: 100%;
    transition-property: width;
}

[data-aos="reveal"].aos-animate { 
    width: 0;
}

[data-aos="show"] { 
    opacity: 0;
}

[data-aos="show"].aos-animate { 
    opacity: 1;
}

/* --- GRID --- */
.eight-col-grid { 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

/* --- SECTION: OTHER WORK --- */
.other-work { 
    padding: 0 50px;
}

.other-work h2 { 
    color: gray;
    font-size: 1.5em;
}

.other-long { 
    height: 17em;
    width: calc(100%);
    padding: 50px 0px;
    position: relative;
}

.other-long .other-blurb { 
    grid-column-start: 1;
    grid-column-end: 3;
}

/* --- COMPONENT: OTHER WORK BLURB --- */
.other-blurb h3 { 
    line-height: 1em;
}

.other-blurb { 
    max-width: 20em;
    align-self: end;
}


/* --- COMPONENT: OTHER LONG CARD --- */
.other-long-img { 
    height: 17em;
    background-color: gray;
    grid-column-start: 3;
    grid-column-end: 9;
}

.long-image { 
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* --- COMPONENT: OTHER SMALL CARD --- */
.other-small-wrapper { 
    position: relative;
    padding: 75px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.other-small { 
    height: 27em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.other-small .other-blurb { 
    right: 0;
    left: auto;
    padding-left: 20px;
    bottom: 0;
}

.other-small-img { 
    height: 27em;
    background-color: gray;
}


/* ------------------------------------------------ IPAD STYLES --- */
@media only screen and (max-width : 768px) { 

}

/* ------------------------------------------------ MOBILE STYLES --- */

@media only screen and (max-width : 700px) {
    p { 
        font-size: .75em;
    }


    /* --- HEADER --- */
    .header h1 { 
        padding: 200px 15px;
        padding-bottom: 150px;
        font-size: 2em;
    }

    /* --- CARDS: MOBILE --- */
    .card-wrapper, .card { 
        width: calc(100vw - 30px);
        height: calc(100vw - 30px);
    }

    .card-wrapper { 
        margin: 13vw auto;
    }

    .blurb { 
        position: absolute;
        top: 5vw;
        left: 5vw;
        width: 100%;
    }

    .blurb h2 { 
        font-size: 9vw;
    }

    .blurb p { 
        display: none;
    }

    .img { 
        position: absolute; 
        bottom: 0;
        height: calc(70vw);
        width: 100%;
    }

    .airbnb-img { 
        background-size: 100vw;
        background-position: 3vw 0vw;
    }

    .wta-img, .mental-img, .move-in-img { 
        background-size: 110vw;
    }


    /* --- OTHER WORK SECTION --- */

    .other-work {
        padding: 0 15px ;
    }

    .eight-col-grid { 
        display: block;
    }

    .other-small { 
        display: block;
    }

    .other-small-wrapper, .other-long  { 
        padding: 20px 0px;
    }
    
    .other-long { 
        height: auto;
    }

    .other-small-img { 
        height: 17em;
    }

    .long-image { 
        object-position: top left;
    }

    .other-small .other-blurb { 
        padding-left: 5px;
    }

    
}


