@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,300;1,700&display=swap');
@import 'preloader.css';

:root { 
    --main-text-color: #FFFFFF;
    --main-bg-color: #0C0C0C;
    --dark-gray: #161616;
    --blinds-color:#EFEDED;
    --about-color: #16425B;
    --about-secondary: #D9DCD6;
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge scrollbar hide */
    scrollbar-width: none; /* Firefox scrollbar hide */
}

h1, h2, h3, h4, h5, p { 
    color: var(--main-text-color);
    font-family: var(--main-font);
}

h2 { 
    font-weight: 700;
    font-size: 9vw;
}

::selection { 
        background: black;
}

::-moz-selection { 
    background: black;
}

::-webkit-scrollbar {
    display: none;
}


/* ----- HEADER ----- */

.title { 
    font-size: 7vw;
    position: absolute;
    z-index: 3;
    left: 5vw;
    margin-left: 3vw;
    top: 7.5vw;
    line-height: 7vw;
}

.title-1 .letter { 
    display: inline-block;
    line-height: 7vw;
}

.title-2 .letter { 
    display: inline-block;
    line-height: 7vw;
}

.landing p { 
    font-size: 1.25vw;
    position: absolute; 
    right: 5vw;
    z-index: 3;
    bottom: 0;
    margin: 0;
}


.landing { 
    position: relative;
    min-height: 50vw;
    width: 100vw;
}

.bg-box {
    width: 90vw;
    height: 23vw;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #161616;
}


/* ----- INTERLUDE ------ */

.interlude h5 { 
    text-align: center;
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
    padding: 9vw;
}

/* ----- ABOUT ----- */

.about { 
    position: relative;
    height: 55vw;
}

.bg-box-small { 
    width: 65vw;
    height: 15vw;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: 5px solid #161616;
}

.about h2 { 
    margin: 0;
    margin-left: -2.5vw;
    padding-bottom: 3vw;
}

.about-wrapper { 
    display: flex;
    position: absolute; 
    z-index: 3;
    top: 3vw;
}

.about-left { 
    width: 50vw;
    position: relative;
}

.about img { 
    position: absolute;
    right: 8vw;
    top: 5vw;
    width: 30vw;
}

.about-right { 
    width: 50vw;
}

.about-text { 
    line-height: 2.5vw;
    font-size: 1vw;
    width: 35vw;
}

.about h2::before { 
    content: "01.";
    position: relative;
    font-size: 2vw;
    top: -7vw;
    left: -2vw;
    color: gray;
}

/* ----- SELECT WORKS ----- */
.works { 
    position: relative;
    height: 27vw;
}

.works h2 { 
    position: absolute;
    right: -3vw;
}

.works h2::before { 
    content: "02.";
    position: relative;
    font-size: 2vw;
    top: -7vw;
    left: -2vw;
    color: gray;
}

.work-wrapper { 
    margin-left: 10vw;
}

.work h5 { 
    font-size: 4vw;
    margin: 0;
    color: gray;
}

.work-bar { 
    position: absolute;
    background-color: white;
    width: 7vw;
    height: 5vw;
    right: 0;
    top: 0;
    
}

.work h5:hover { 
    color: white;
    font-size: 4.5vw;
    transition: 1s;
}


.work a { 
    text-decoration: none;
}



.work { 
    height: 9vw;
    position: relative;
}





/*--- ANIMATIONS ---*/

@keyframes swipe-reveal { 
    0% { 
        left:0;
        width: 0;
        
    }
    50% { 
        width:100%;
        left:0;
    }
    100% { 
        width: 0;
        left: 100%;
    }
}


/*--- fix for wonky height issues --- */
@media only screen and (max-height: 800px) { 
    .main-container { 
        top: 45%;
    }

    .main-container h1 { 
        font-size: 45px;
        letter-spacing: 3px;
    }

    .about-author p, .about-site p { 
        font-size: 15px;
    }

    .about-author h3, .about-site h3 { 
        font-size: calc(15px * 1.618);
    }

    .about-author, .about-site { 
        padding: 0px 50px 0px 0px;
        position: absolute; 
        top: 15%;
    }

}

/*--- SMARTPHONES (iphone 5s at 320px according to google console) ---*/
@media only screen and (max-width : 500px) {
    /* TITLE */
    .main-container { 
        top: 35%;
        position: absolute;
        padding-left: 25px;
    }

    .main-container h1 { 
        font-size: 30px;
        letter-spacing:2.5px;
    }

    /* HIDE NAV LIST FOR THAT SPICY MINIMALISM */
    /* JK IM LAZY AND I DONT WANNA WRITE MORE CODE */
    .nav-list { 
        display: none;
    }

    /* ABOUT */
    #about { 
        position: absolute;
        height: auto;
        top: 100%;
        display: none;
    }

    .about-site, .about-author { 
        grid-columns-start: initial;
        grid-column-end: initial;
        position: relative;
        padding: 25px;
        margin-bottom: 50px;
    }

    

    /* MOBILE ONLY STUFF */

    #mobile-menu { 
        width:100%;
        height: 50px;
        background-color: var(--about-secondary);
        position: fixed;
        bottom: 0;
        z-index: 15;
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu h2{ 
        position: absolute;
        line-height: 0;
        margin-left: 25px;
        margin-top: 25px;
        font-family: var(--secondary-font);
        
    }

    .bg-1, .bg-2, .bg-3 { 
        border-right: none;
    }

}

