
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import 'responsive.css';

:root { 
    --main-text-color: black;
    --main-bg-color: #FCFCFC;
    --dark-gray: #161616;
    --blinds-color:#EFEDED;
    --about-color: #16425B;
    --about-secondary: #D9DCD6;
    --main-font: 'Poppins', sans-serif;
    font-size: 16px;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    -ms-overflow-style: none; /* IE and Edge scrollbar hide */
    scrollbar-width: none; /* Firefox scrollbar hide */
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, p { 
}

/* --- TYPOGRAPHY --- */

/* Used for hero text only */
h2 {
    font-size: 3em;
    font-family: var(--main-font);
    font-weight: 500;
}

/* --- HERO --- */
hr { 
    margin: 0;
    width: calc(100vw - 45em);
    background-color: #E0E0E0;
    height: 1px;
    border: none;
}

.content-wrapper { 
    margin: 0px 15em;
}

.landing { 
    position: relative;
    height: calc(100vh - 9em);
}

.landing-content { 
    position: absolute;
    bottom: 0;
}

.landing-3-col { 
    display: flex;
}

.landing-3-col > div { 
    width: 16.375em;
    margin-top: 1.5em;
    margin-right: 9em;
}

.landing-3-col > div:first-child { 
    width: 20.5em;
    margin-right: 5em;
}

.hero-column { 
    font-family: var(--main-font);
}

.hero-column p { 
    font-size: 1.125em;
    line-height: 2em;
}

.hero-column h3 { 
    font-size: 1em;
    font-weight: 600;
    line-height: 24px;
}

.signature { 
    padding-top: 3em;
    padding-bottom: 3em;
}

::selection { 
        background: black;
        color: white;
}

::-moz-selection { 
    background: black;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}



/* --- NAV --- */
.nav { 
    position: fixed;
    top: 0;
    padding-left: 15rem;
    background-color: var(--main-bg-color);
    width: 100vw;
    z-index: 3;
}

.nav a { 
    text-decoration: none;
    color: black;
}

.progress-bar { 
    display: flex;
    position: absolute;
    top: 47%;
    left: 23rem;
}

.progress-bar svg { 
    height: 1rem;
    width: 1rem;
    margin-top: -.4rem;
}

.line { 
    height: .2rem;
    width: 8rem;
    background-color: black;
}

/* --- WORK --- */


.work-card { 
    width: 70vw;
    background: lightgray;
    margin: 10vw 15vw;
    height: 22vw;
    filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.3));
}

.work-card-content { 
    color: black;
    width: 24vw;
    height: 14vw;
    float: right;
    background: white;
    padding: 4vw 2vw;
    padding-right: 5vw;
}

.work-card-content h3 { 
    font-size: 2.5vw;
    font-weight: 500;
    margin: 0;
    margin-bottom: 2vw;
    position: relative;
}

.work-card-content h3::after { 
    content: "";
    position: absolute;
    bottom: -.75vw;
    left: 0;
    height: .25vw;
    width: 7vw;
    background-color: black;
    transition-property: width;
    -webkit-transition-property: width;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
}

.card-left { 
    float: none;
}

.work-card:hover h3::after { 
    width:10vw;
    transition-property: width;
    -webkit-transition-property: width;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
}

.work-card-content p { 
    font-size: 1vw;
    line-height: 2vw;
}

/* --- INDIVIDUAL PROJECT STYLES --- */


/* --- FOOTER --- */
footer { 
    background-color: #21282A;
    padding: 7em 15em;
}

footer p, footer a, footer h3 { 
    color: white;
}

footer h3 { 
    font-size: 3em;
    font-weight: 500;
}

.footer-column-header { 
    font-size: 1em;
    color: #909394;
}

footer a { 
    font-size: 1.125em;
    text-decoration: none;
}

.footer-3-col > div { 
    margin-right: 13em;
}

.footer-3-col { 
    display: flex;
}

.return-to-top { 
    float: right;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    margin: .5em 0em;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
right: 0;
}

@media only screen and (max-width: 1500px) { 
    html { 
    }

    .content-wrapper { 
        margin: 0 11em;
    }

    /* --- Typography --- */

    .landing { 
        height: calc(100vh - 5em);
    }

    .hero-column p { 
        font-size: .9em;
        line-height: 1.8em;
    }

    .landing-3-col > div { 
        width: 13em;
        margin-right: 7em;
    }

    .landing-3-col > div:first-child { 
        width: 15em;
        margin-right: 6em;
    }
    .hero-column h3 { 
        font-size: .8em;
        line-height: 19.2px;
    }

    /* --- Footer --- */
    footer { 
        background-color: #21282A;
        padding: 5em 11em;
    }

    footer h3 { 
        font-size: 2.4em;
    }

    .footer-column-header { 
        font-size: .8em;
    }

    footer a { 
        font-size: .9em;
    }

    .footer-3-col > div { 
        margin-right: 10.4em;
    }

}


/* --- BEEG YOSHI --- */
@media only screen and (max-width: 1200px) { 
    html { 
        font-size: 13px;
    }
    
    /* Give 3 rem breathing room ebtween select works and right margin */
    .select-works h1 { 
        /* 3 rem padding + 2rem width */
        padding-right: 5rem;
    }

    .select-works::after { 
        right:3rem;
    }


}

/* --- Laptops --- */
@media only screen and (max-width: 992px) { 
    footer h2 { 
        font-size: 6rem;
        margin-top: 1rem;
        padding-bottom: 3rem;
    }

}

/* --- Tablets --- */
@media only screen and (max-width: 950px) { 
    .landing-content, .landing-image { 
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        margin: 3rem 5rem;
        max-width: 50rem;
    }

    .landing { 
        margin-top: 10rem;
    }


    .landing-image { 
        width: 80%;
    }

    .image-wrapper { 
        width: 80%;
    }
    
}

/* --- iPads are ruining my life --- */
@media only screen and (max-width: 768px) { 
    footer { 
        display: block;
    }

    footer h2 { 
        font-size: 7rem;
    }

    footer div { 
        padding: 2rem 3rem;
    }

    footer p { 
        font-size: 1rem;
    }

    /*---project stuff ---*/

    .project-row { 
        display: block;
        margin: 0;
    }

    .project { 
        width: 80vw;
        margin: 10vw;
    }

    .img { 
        height: 56vw;
    }

    .project-text-wrapper { 
        height: 24vw;
    }

    .project-text { 
        width: 70vw;
        left: 5vw;
    }

    .project-text h4 { 
        font-size: 6vw;
    }
    
    .project-text p { 
        font-size: 2.25vw;
    }

    .project-text h4::after { 
        display: none;
    }

    .project-afterwards { 
        height: 60vw;
        width: 70vw;
        margin: 10vw;
        padding: 5vw;
    }

    .project-afterwards h3 { 
        font-size: 6vw;
    }

    .project-afterwards p { 
        font-size: 2.25vw;
        padding-right: 17vw;
    }

    .project-afterwards a { 
        font-size: 2.25vw;
    }


}

/*--- SMARTPHONES (iphone 5s at 320px according to google console) samsung fold or whatever is like...500 ish? a lil more than 500 ---*/
@media only screen and (max-width : 500px) {

    .landing-content, .landing-image { 
        margin: 3rem;
    }

    .landing-image { 
        width: 100%;
    }

    .image-wrapper { 
        width: 80%;
    }

    .select-works h1 { 
        line-height: 5.7rem;
        
    }

    .select-works::after { 
        right: auto;
        left: 21rem;
        top:-1rem;
    }

    .nav { 
        padding-left: 3rem;
    }

    .progress-bar { 
        display: none;
    }

    .nav svg { 
        display: none;
    }
}

