@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root { 
    --main-text-color: black;
    --main-bg-color: #FCFCFC;
    --dark-gray: #161616;
    --blinds-color:#EFEDED;
    --about-color: #16425B;
    --about-secondary: #D9DCD6;
    --main-font: 'Poppins', sans-serif;
    font-size: 16px;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    -ms-overflow-style: none; /* IE and Edge scrollbar hide */
    scrollbar-width: none; /* Firefox scrollbar hide */
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, p { 
}

/* --- TYPOGRAPHY --- */

/* Used for hero text only */
h2 {
    font-size: 3em;
    font-family: var(--main-font);
    font-weight: 500;
}

/* --- HERO --- */
hr { 
    margin-top: 3em;
    margin: 0;
    width: calc(100vw - 45em);
    background-color: #E0E0E0;
    height: 1px;
    border: none;
}

.content-wrapper { 
    max-width: 90em;
    padding: 0 5em;
    margin: 0 auto;
}

.landing { 
    position: relative;
    height: calc(100vh - 9em);
}

.landing-content { 
    position: absolute;
    bottom: 0;
}

.landing-content h2 { 
    margin: 0;
}

.landing-content h2:before { 
    content: "";
    position: absolute;
    background-color: black;
}

.landing-content h2:nth-child(4) { 
    margin-bottom: .75em;
}

.landing-3-col { 
    display: flex;
}

.landing-3-col > div { 
    max-width: 16.375em;
    margin-top: 1.5em;
    padding-right: 9em;
}

.landing-3-col > div:first-child { 
    max-width: 20.5em;
    padding-right: 5em;
}

.hero-column { 
    font-family: var(--main-font);
}

.hero-column p { 
    font-size: 1.125em;
    line-height: 2em;
}

.hero-column h3 { 
    font-size: 1em;
    font-weight: 600;
    line-height: 24px;
}

.signature { 
    padding-top: 3em;
    padding-bottom: 3em;
}

::selection { 
        background: black;
        color: white;
}

::-moz-selection { 
    background: black;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}




/* --- WORK (OLD) --- */

.work { 
    padding-bottom: 3em;
}

.work-wrapper{ 
    width: 100%;
    height: 19em;
    filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.3));
    margin: 5em 0;
}


/* --- COMPONENT: work_card --- */

.work_card { 

}

/* --- INDIVIDUAL PROJECT STYLES --- */

.work-card .airbnb { 
    background-image: url(../assets/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work-card .wta { 
    background-image: url(../assets/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work-card .mental-reminder { 
    background-image: url(../assets/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a .work-card:hover { 
    background-size: 110%;
}

/* --- ABOUT --- */

.about-flex { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0em;
}

.about-flex .col { 
    padding: 3em;
    max-width: 35em;
    position: relative;
}

.about-flex .col:first-child > img { 
    min-width: 21em;
}

.about-flex .col:first-child > img:before { 
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--dark-gray);
}

.button { 
    display: block;
    width: 10em;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    padding: 1em;
    margin: 1.5em 0;
    border: 1px solid black;
}

.button:hover { 
    background-color: white;
    color: black;
    transition: 0.3s;
}

/*----- PLAY ---- */

.play-intro { 
    margin: 7em 0;
}

.play-intro h2 { 
    margin: 0;
}

.play-section h3 { 
    font-size: 2.5em;
    font-weight: 400;
}

.play-intro p { 
    max-width: 70em;
}

@media only screen and (max-width: 1500px) { 
    html { 
    }

    /* --- Typography --- */

    .landing { 
        height: calc(100vh - 5em);
    }

    .hero-column p { 
        font-size: .9em;
        line-height: 1.8em;
    }

    .landing-3-col > div { 
        max-width: 13em;
        padding-right: 7em;
    }

    .landing-3-col > div:first-child { 
        max-width: 15em;
        padding-right: 6em;
    }
    .hero-column h3 { 
        font-size: .8em;
        line-height: 19.2px;
    }


}


/* --- BEEG YOSHI --- */
@media only screen and (max-width: 1200px) { 
    html { 
        font-size: 13px;
    }
    
}

/* --- iPads are ruining my life --- */
@media only screen and (max-width: 800px) { 

    h2 { 
        font-size: 2.5em;
    }

    .landing-3-col > div:first-child, .landing-3-col > div { 
        padding-right: 4em;
    }

}

/* ------------------------------------------------------- Ew Phones ---- */
@media only screen and (max-width: 650px) { 
    .content-wrapper { 
        padding: 0 2em;
    }

    .work-wrapper { 
        width: calc(100vw - 4em); 
        height: calc(100vw - 4em);
    }

    .work-card .airbnb { 
        background-image: url(../assets/square-bg1.png);
    }

    .work-card .wta { 
        background-image: url(../assets/square-bg2.png);
    }

    .work-card .mental-reminder { 
        background-image: url(../assets/square-bg3.png);
    }

    .about-flex { 
        display: block;
    }

    .about-flex .col { 
        padding: 0;
    }

    .about-flex .col:first-child > img { 
        min-width: 100%;
    }

    .about-flex .col:nth-child(2) > img { 
        width: 50%;
    }

    h2 { 
        font-size: 2em;
    }

    .landing-3-col { 
        display: block;
    }

    .landing-3-col > div, .landing-3-col > div:first-child { 
        padding: 1em 0;
        margin-top: 0;
    }

    .landing { 
        height: auto;
    }

    .landing-content { 
        position: relative;
        margin-top: 7em;
    }

    .desktop-only { 
        display: none;
    }

    .signature > img { 
        width: 50%;
    }
}

/* ----- Mobile break only --- */
.media only screen and (min-width: 650px) { 
    .mobile-only { 
        display: none;
    }
}
