
/*=================================================================*/
/*SECTIONS/GENERAL CSS*/
/*=================================================================*/
body { 
    margin: 0;
    background: #131313;
    font-family: "Poppins", Arial, sans-serif;
    color: white;
}

.site { 
    margin-top: 100vh;
    position: absolute;
    background-color: white;
}

/*=================================================================*/
/* -- Landing Mast -- */
/*=================================================================*/


.landing { 
    height: 100vh;
    position: fixed;
    background-color: #3b55bf;
    background-attachment: fixed;
}


.landing img { 
    width: 50vw;
}

.landing h1 { 
    font-weight: 300;
    font-family: 'Comfortaa';
    font-size: 90px;
    letter-spacing: 9px;
    text-align: right;
    padding-top:15vh;
    color: white;
}

.landing b { 
    color: #1fb6ff;
}


.landing p { 
    font-family:"Varela Round", "Poppins", Arial, sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 1.6; 
	text-align: right;
    padding-left: 40px;
    color: white;
}

/*=================================================================*/
/*-- SOFTWARE --*/
/*=================================================================*/

.software { 
    background-color: white;
    color: #232323;
    text-align: right;
    padding: 7vh 7vw;
}



.software h1 { 
    font-family: 'Comfortaa';
    text-align: left;
    font-size: 70px;
    padding-top: 15px;
}

.software h2 { 
    color: #1fb6ff;
    font-size: 65px;
    padding-top: 15px;
}

.software h3 { 
    color: #1b95f9;
    font-size: 50px;
    padding-top: 15px;
}

.software h4 { 
    color: #1b7bf9;
    font-size: 35px;
    padding-top: 15px;
}





/*=================================================================*/
/*-- SKILLS --*/
/*=================================================================*/

.skills li { 
    list-style: none;
    padding-top: 13px;
}

.skills { 
    text-align: center;
    background-color: #1fb6ff;
    font-size: 23px;
    letter-spacing: 3px;
    padding: 7vh 7vw;
}

.skills h1 { 
    font-family: 'Comfortaa';
    text-align: left;
    font-size: 70px;
    padding-top: 15px;
    color: white;
}

.skills img { 
    width: 50vw;
}


/*=================================================================*/
/*-- PROJECTS --*/
/*=================================================================*/

.projects { 
    background-color: white;
    color: #232323;
    height: 30vh;
}


.projects h1 { 
    text-align: right;
    font-family: 'Comfortaa';
    font-size: 50px;
    padding:13vh 7vw;
    
}

.cc-title h1 { 
    color: rgba(256,256,256, 0.3);
    font-family:'Josefin Sans';
    font-size: 70px;
    text-align: left;
    padding: 0;
}

.cc-card { 
    width: 39vw;
    margin-left: 13vw;
    padding: 30px 90px;
    background-color: #3b55bf;
}

.hundred-card { 
    font-family: 'Varela Round';
    width: 39vw;
    margin-left: 50vw;
    padding: 30px 90px;
    margin-bottom: 5vh;
    background-color: #1fb6ff;
}


.project-card { 
    font-family: 'Comfortaa';
    color: white;
    margin-top: 50px;
    border-radius: 7px;
    box-shadow: 7px 7px 17px lightgray;
}


/*=================================================================*/
/*-- CONTACT --*/
/*=================================================================*/


.social { 
    background-color: #3b55bf;

}
 
.contact-title { 
    padding: 3vw;
}

.contact-title h2 { 
    font-size: 70px;
    font-family: 'Comfortaa';
    letter-spacing: 3px;
}


.links-wrapper { 
    text-align: right;
    font-size: 50px;
}

.links-wrapper a:link, .links-wrapper a:hover, .links-wrapper a:visited { 
    font-family: 'Comfortaa';
    color: white;
}


/*-- TYPOGRAPHY --*/







/*-- Just a bootstrap padding fix I heard about online lmao --*/

[class*="col-"] { 
    padding: 1rem;
}


/*---Media Queries---*/














