

@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

h3 { 
    font-family: 'Playfair Display', Serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.9;
    letter-spacing: 1px;
}

.scroll-indicator { 
    top: 0;
    position: fixed;
    height: 9px;
    width: 0%;
    z-index: 300;


    background: rgb(113,139,168);
    background: -moz-linear-gradient(90deg, rgba(113,139,168,1) 10%, rgba(150,169,193,1) 36%, rgba(253,204,196,1) 98%);
    background: -webkit-linear-gradient(90deg, rgba(113,139,168,1) 10%, rgba(150,169,193,1) 36%, rgba(253,204,196,1) 98%);
    background: linear-gradient(90deg, rgba(113,139,168,1) 10%, rgba(150,169,193,1) 36%, rgba(253,204,196,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#718ba8",endColorstr="#fdccc4",GradientType=1);
}

.landing { 
    font-family: 'Playfair Display';
    height: 90vh;
    text-align: center;
    background-image: url(../assets/city.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;
    margin: auto;
    z-index: 3;
}

.landing h1 { 
    padding-top: 50%;
    font-weight: 400;
    font-size: 90px;
    color: white;
}

.landing-background { 
    background-color: white;
    height: 100vh;
    z-index: 1;
    padding-top: 5vh;
}


.info { 
    height: 100vh;
    background-color: #232323;
    color: white;
    padding-top: 13%;
    padding-right: 20%;
    padding-left: 10%;
    margin-bottom: 100vh;
}




/*-- FOOTER --*/
.contact { 
    background-image: url(../assets/city.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    bottom: 0;
    font-size: 50px;
    font-family: 'Raleway', Sans-Serif;
    font-weight: 300; 
    text-align: center;
    position: fixed;
    z-index: -3;
}



.contact ul{ 
    list-style: none;
    padding-top: calc(50vh - 187px);
}


.contact a:link, .contact a:visited { 
    color: white;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}

.contact a:hover { 
    color: #9DC7F0;
}

/*-- Media Queries for responsive design --*/

@media only screen and (max-width: 900px) {
    .landing h1 { 
        font-size: 50px;
    }
    .landing { 
        width: 80%;
        margin: 0 10%;
    }
   
    h3 { 
        font-size: 23px;
    }


}

